<nav class="navbar navbar-expand-md navbar-dark bg-transparent navbar-sticky-top">
  <div class="navbar-header">
    <a href="#">
      <img src="assets/images/NudelSiteLogo.png" alt="logo">
    </a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Art</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Photography</a>
      </li>
      <li class="nav-item">
        <div class="d-flex flex-row">
          <a class="p-2" href="https://www.facebook.com/profile.php?id=1021362022">
            <img src="assets/images/if_facebook.png" alt="Facebook">
          </a>
          <a class="p-2" href="https://www.instagram.com/jacknudelman/">
            <img src="assets/images/if_instagram.png" alt="Instagram">
          </a>
          <a class="p-2" href="https://vsco.co/jnudelman/images/1">
            <img src="assets/images/if_vsco.png" alt="VSCO">
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>
