.img-fluid {
  height: 800px;
  // height: auto;
  width: 100%;
  min-width: 400px;
}

// .background-carousel {
//   left: -300px;
// }

.carousel-inner {
  left: -10%;
  right: 0;
}

// .carousel-item {
//   background-image: url(/assets/images/jack1copy.png);
// }

// @media only screen and (min-width: 500px) {
//   #img1 {
//     content:url("assets/images/jack1copy_small.png");
//   }
// }
