<div id="backgroundCarousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="2000">
  <div class="carousel-inner">
    <div id="img1" class="carousel-item active">
      <img class="d-block img-fluid" src="assets/images/app_images/jack1copy.png">
    </div>
    <div id="img1" class="carousel-item">
      <img class="d-block img-fluid" src="assets/images/app_images/jack3copy.png">
    </div>
    <div id="img1" class="carousel-item">
      <img class="d-block img-fluid" src="assets/images/app_images/jack5copy.png">
    </div>
  </div>
</div>
